---
import Eventos from "./eventos.jsx";
---

<section>
    <div class="flex items-center justify-between m-4 mx-12 border-b-4">
        <img src="/img/icon_PIAC2.webp" alt="icono-piac" width="64" />
        <p class="text-amber-300 text-xl">Agenda 2025, sujeta a cambios**</p>
    </div>
    <Eventos client:only />
</section>
