---
import Eventos from "./Eventos.jsx";
import i18next from "i18next";

const currentLanguage = i18next.language;
---

<section>
  <div class="flex items-center justify-between m-4 mx-12 border-b-4">
    <img src="/img/icon_PIAC2.webp" alt="icono-piac" width="64" />
    <p class="text-red-800 text-lg">Agenda 2025, sujeta a cambios**</p>
  </div>
  <Eventos client:only currentLanguage={currentLanguage} />
</section>
