<section class="bg-[#f9f7f0]">
    <div class="flex items-center pl-5 pt-5 gap-4s">
        <img src="/img/icon_PIAC2.webp" alt="icono piac" width="72" />
        <p class="text-3xl uppercase font-extrabold">contacto</p>
    </div>
    <div class="flex justify-center gap-4 p-4">
        <div class="grid justify-items-end text-2xl pb-44 pt-10 px-3">
            <p class="font-bold text-3xl">Bernd Rohde</p>
            <p>Presidente del PIAC</p>
            <p>CEO & Member of the Board of Directors</p>
            <p>Italian German Exhibition Company</p>
            <p>Canada / USA / Mexico</p>
            <a class="border-1 p-1" href="">bernd.rohde@igeco.mx</a>
        </div>
        <div class="border-1"></div>
        <div class="grid justify-items-start text-2xl pt-44 pb-10 px-3">
            <p class="font-bold text-3xl">Lilian Malanco</p>
            <p>Directora de Relaciones Públicas</p>
            <p>Italian German Exhibition Company Mexico</p>
            <p>Cel: + 52 (565) 107 9251</p>
            <a class="border-1 p-1" href="">lilian.malanco@igeco.mx</a>
        </div>
    </div>
</section>
