---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
    <section class="bg-[#f9f7f0] py-3">
        <div class="rounded-3xl p-4 bg-white m-5">
            <h2
                class="border-b-3 border-b-yellow-500 w-fit font-bold text-4xl text-blond"
            >
                cara decola
            </h2>
        </div>
    </section></Layout
>
