---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import { Gallery } from "../../components/recuerdos/gallery.jsx";
import Gallery2 from "../../components/recuerdos/ejemplo.jsx";

changeLanguage("en");

const currentLanguage = i18next.language;
---

<Layout>
	<div class="px-40 py-10">
		<div class="px-20 text-center">
			<h1 class="text-5xl border-b-3 border-green-600 pb-5">{t("memories.title")}</h1>
			<p class="my-6 text-xl">{t("memories.subtitle")}</p>
		</div>
		<div class="pt-1">
			<Gallery client:load currentLanguage={currentLanguage}/>
		</div>
	</div>
</Layout>
