---

---

<section class="justify-center bg-white">
    <div
        class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-8"
    >
        <div class="md:w-1/2 text-gray-700">
            <h2 class="text-3xll font-extrabold text-gray-900 mb-4">
                QUIENES SOMOS
            </h2>
            <p class="text-lg leading-relaxed">
                Fundado en 1997, el Patronato de la Industria Alemana para la
                Cultura es una Asociación Civil y donataria autorizada ante
                SEDESOL, conformado por empresas Mexicanas de capital Alemán o
                con otro tipo de vínculo fuerte con Alemania. Parte del éxito
                económico de los miembros del Patronato, el cual les permite
                generar un número significativo de empleos directos e indirectos
                en México, se basa en valores éticos, responsabilidad social,
                actitud sustentable, tecnologías, técnicas, productos, servicios
                y originarios de Alemania. En México y en el mundo, la “Calidad
                Alemana” beneficia de un gran prestigio. Conscientes de lo que
                deben a la expresión de amistad y al reconocimiento que siempre
                reciben de parte de los mexicanos, los miembros del Patronato
                buscan retribuir en el contexto de su Responsabilidad Social
                Empresarial, difundiendo y promocionando la cultura Alemana en
                México.
            </p>
        </div>
        <div class="">
            <img
                class="w-100 h-auto object-cover"
                src="./img/AboutUs.png"
                alt="Imagen representativa de quienes somos"
            />
        </div>
    </div>
</section>
