---
import ParticlesBg from "particles-bg";
import i18next, { t } from "i18next";

const TranslationsAbout = t("about", { returnObjects: true });
---

<section class="justify-center bg-white relative">
    <ParticlesBg
        client:only="react"
        type="circle"
        color={["#EC0000", "#FFE221", "#000000"]}
        bg={{
            position: "absolute",
            zIndex: 1,
            width: "100%",
            height: "100%",
            top: 0,
            left: 0,
        }}
    />
    <div class="relative z-10 p-0 md:p-5 grid justify-center">
        <div
            id="quienes-somos"
            class="bg-[#fffbebd6] rounded-none md:rounded-2xl max-w-7xl mx-auto flex flex-col md:flex-row m-4 md:m-2 items-center justify-center scroll-mt-15"
        >
            <div class="w-full p-2 text-black md:w-1/2">
                <div class="w-full justify-center flex">
                    <h2
                        class="text-center w-fit text-3xl border-b-3 border-red-500 font-extrabold text-gray-900 mb-4"
                    >
                        {t("about.tittle_1")}
                    </h2>
                </div>
                <p class="text-justify text-lg leading-relaxed">
                    {t("about.aboutUs.text_1")}
                </p>
                <br />
                <p class="text-justify text-lg leading-relaxed">
                    {t("about.aboutUs.text_2")}
                </p>
                <p class="text-justify text-lg leading-relaxed">
                    {t("about.aboutUs.text_3")}
                </p>
            </div>
            <div class="hidden md:block"
            data-aos="zoom-in-up"
            data-aos-duration="2000">
                <img
                    class="w-100 h-auto object-fill"
                    src="/img/AboutUs.png"
                    alt="Imagen representativa de quienes somos"
                />
            </div>
        </div>
        <div
            id="myv"
            class="bg-[#fffbebd6] rounded-none md:rounded-2xl max-w-7xl mx-auto flex flex-col md:flex-row m-4 md:m-2 items-center justify-center scroll-mt-15"
        >
            <div class="hidden md:block"
            data-aos="zoom-in-up"
            data-aos-duration="2000">
                <img
                    class="w-100 h-auto object-cover"
                    src="/img/AboutUs2.png"
                    alt="Imagen representativa de Misi贸n y Visi贸n"
                />
            </div>
            <div class="w-full p-2 text-black md:w-1/2">
                <div class="w-full justify-start flex">
                    <h2
                        class="text-center w-fit text-3xl border-b-3 border-green-500 font-extrabold text-gray-900 mb-4"
                    >
                        {t("about.tittle_2")}
                    </h2>
                </div>
                <p class="text-justify text-lg leading-relaxed">
                    {t("about.m&v.text_1")}
                </p>
                <br />
                <p class="text-justify text-lg leading-relaxed">
                    <ul class="list-disc pl-9">
                        <li class="text-justify text-lg leading-relaxed">
                            {t("about.m&v.text_2")}
                        </li>
                        <li class="text-justify text-lg leading-relaxed">
                            {t("about.m&v.text_3")}
                        </li>
                        <li class="text-justify text-lg leading-relaxed">
                            {t("about.m&v.text_4")}
                        </li>
                    </ul>
                    <br />
                    <p class="text-justify text-lg leading-relaxed">
                        {t("about.m&v.text_5")}
                    </p>
                </p>
            </div>
        </div>
        <section
            id="ca"
            class="bg-[#fffbebd6] rounded-none md:rounded-2xl m-0 md:m-2 my-5 py-10 px-4 md:px-10 scroll-mt-50"
        >
            <div
                class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-10"
            >
                <div
                    class="flex flex-col items-center text-center md:text-left md:items-center justify-center md:w-1/2"
                >
                    <h2
                        class="text-center w-fit text-3xl border-b-3 border-green-500 font-extrabold text-gray-900 mb-4"
                    >
                        {t("about.tittle_3")}
                    </h2>
                    <div class="hidden md:flex gap-2"
                    data-aos="flip-up"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <img
                            src="/img/AboutUs2.png"
                            alt="Criterios de actuaci贸n"
                            height="150"
                            width="150"
                        />
                        <img
                            src="/img/AboutUs.png"
                            alt="Criterios de actuaci贸n"
                            height="150"
                            width="150"
                        />
                    </div>
                </div>
                <!-- Texto -->
                <div class="md:w-1/2"
                data-aos="fade-up-left"
                data-aos-duration="3000">
                    <div class="p-6 space-y-4 text-black text-lg">
                        <p class="text-justify text-lg leading-relaxed">
                            {t("about.ca.text_1")}
                        </p>
                        <p class="text-justify text-lg leading-relaxed">
                            {t("about.ca.text_1")}
                        </p>
                        <p class="text-justify text-lg leading-relaxed">
                            {t("about.ca.text_1")}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
