---
import EmblaCarousel from "./Carousel/EmblaCarousel";
import { eventos } from "../data/data_eventos.js";
import i18next, { t } from "i18next";

const OPTIONS = { loop: true };
const SLIDES_DATA = eventos;
const currentLanguage = i18next.language;
---

<div class="bg-[#f9f7f0] p-1">
    <div class="rounded-3xl p-4 bg-white m-5">
        <h2
            class="border-b-3 border-b-red-500 w-fit font-bold text-4xl text-blond"
        >
            {t("events.title")}
        </h2>
    </div>
    <EmblaCarousel client:only="react" slides={SLIDES_DATA} options={OPTIONS} currentLanguage={currentLanguage} />
</div>
