---
import i18next, { t } from "i18next";
---

<main>
    <div class="m-3 mb-40 p-2 pt-8 grid justify-center">
        <div class="justify-center flex">
            <img width="250" src="/img/icon_PIAC.webp" />
        </div>
        <div
            class="flex uppercase justify-center text-center text-white text-4xl"
        >
            <p class="font-bold mr-2">{t("home.title_1")}</p>
            <p>{t("home.title_2")}</p>
        </div>
        <div>
            <p class="m-3 text-2xl text-white">{t("home.description")}</p>
        </div>
    </div>
</main>
