---
import Marquee from "../components/Marquee.astro";
import UltimosNews from "../components/UltimosNews.astro";
import { news } from "../data/data_news_2024.js";
import i18next, { t } from "i18next";
---

<section class="bg-[#f9f7f0] py-3">
    <div class="rounded-3xl p-4 bg-white m-5">
        <h2
            class="border-b-3 border-b-yellow-500 w-fit font-bold text-4xl text-blond"
        >
            {t("news.title")}
        </h2>
    </div>
    <UltimosNews images={news} isLeftToRight={false} />
    <div class="w-full flex justify-center mt-5">
        <a
            class="bg-[#228B22] text-white py-2 px-7 rounded-lg hover:bg-[#0A422F]"
            href="/news">Mas noticias</a
        >
    </div>
</section>
