---
import { partners } from "../data/data_partners.js";
import i18next from "i18next";

const currentLanguage = i18next.language;
---

<section class="relative p-10 z-10">
  <div class="absolute inset-0">
    <img
      src="/img/bg-aliados.jpg"
      alt="Imagen de los aliados"
      class="w-full h-full object-cover filter blur-sm"
    />
  </div>
  <div class="relative z-10">
    {partners.map((partnert) => (
      <div>
        <div class="w-full justify-center flex">
          <h2 class="text-center text-white border-b-4 border-amber-400 w-fit font-bold text-5xl italic mb-10 mt-10">
            {(currentLanguage === "es") ? partnert.title : partnert.title_en}
          </h2>
        </div>
        <div class="flex flex-wrap justify-center gap-10 gap-x-15 pt-10 pb-10">
          {partnert.items.map((item) => (
            <a
              href={item.link}
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="w-[250px] h-[100px] bg-white overflow-hidden flex items-center justify-center p-5 rounded-2xl">
                <img
                  src={item.img}
                  alt={item.name}
                  class="object-contain w-full h-full"
                />
              </div>
            </a>
          ))}
        </div>
      </div>
    ))}
  </div>
</section>
